<!DOCTYPE html>
<html>

<head>






    <!-- A Template for Non HTML And Busy Scientists: HTML4Scientists; First Created By
		[OctoKitty](https://github.com/emptymalei)
		[GuokrUnion](https://github.com/GuokrUnion)
        [CosmologyTaskForce](https://github.com/CosmologyTaskForce)
    -->

    <!-- This template uses HTML Kickstart as the framework. Refer to HTML Kickstart for documentations. -->



    <!-- META -->



    <!-- Put Scientist's Name Here -->

    <title>[Scientist's Name] | [Department or Research Areas or whatever]</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />





    <!-- Fill up the keywords, description, author -->

    <meta name="keywords" content="[Put Key Words Here, for example the research area, names or department...]">
    <meta name="description" content="[your description]" />
    <meta name="author" content="[author here]">






    <!-- Make sure to change this to your own favion. Favicon will be shown as a icon of the browser tab when someone browses this website. -->
    <link rel="shortcut icon" href="images/favicon.ico">




    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="css/kickstart.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/style.css" media="all" />



    <!-- Javascript -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="js/kickstart.js"></script>
</head>

<body>



    <!-- Top Main Menu Horizontal -->
    <ul class="menu mainmenu">

        <!-- current class will be diplayed in a different style. Make sure to add current class to the right menu. -->
        <li>
            <a href="index.html">
                <i class="icon-home"></i>Home</a>
        </li>
        <li>
            <a href="research.html">
                <i class="icon-magic"></i>Research</a>
        </li>
        <li>
            <a href="cv.html">
                <i class="icon-trophy"></i>CV</a>
        </li>
        <li>
            <a href="courses.html">
                <i class="icon-book"></i>Courses</a>
        </li>
        <li class="current">
            <a href="#">
                <i class="icon-circle-blank"></i>Publications</a>
        </li>
        <li>
            <a href="more.html">
                <i class="icon-circle-blank"></i>More</a>
        </li>

        <!-- You can include more menus, for example some scientists may want to add a page called PRESS/MEDIA/BOOKS -->









        <!-- Add some SNS account links or something Can remove this safely -->

        <li class="menusocial">

            <!-- Google Plus profile link!!!! -->
            <a href="[your Google Plus profile link here]" target="_blank">
                <i class="icon-google-plus-sign icon-2x"></i>
            </a>
        </li>
        <li class="menusocial">

            <!-- Link to your lab. can be removed as well -->
            <a href="[link to your lab]" target="_blank">
                <i class="icon-beaker icon-2x"></i>
            </a>
        </li>


        <!-- VERY IMPORTANT! Change this to the name you pick. For example this can be your name, or your research group. -->
        <!-- Also change the link of your website -->
        <li class="sitename">
            <a href="[link of your website.]">[Website Name/Name]</a>
        </li>


    </ul>






    <!-- link css file for this page   -->

    <link rel="stylesheet" type="text/css" href="css/bib-publication-list.css" media="all" />



    <!-- All contents should be in a grid class div to make sure the web page is responsive -->
    <div class="grid">

        <div class="col_12">


            <h3 class="center">My Publication List</h3>


        </div>


        <div class="col_12">
<p>
            
            This table is loaded from the data/example.bib file.
            </p>
            <noscript>
                <!-- bibtex source hidden by default, show it if JS disabled -->
                <style>
                    #bibtex { display: block;}
                </style>
            </noscript>
            <table id="pubTable" class="display sortable striped"></table>
            <pre id="bibtex" style="display:none;">
            </pre>
            
            
            <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
            <script type="text/javascript" src="js/bib-list.js"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    bibtexify("data/example.bib", "pubTable", {
                        //                        'tweet': 'emptymalei'
                    });
                });
            </script>


        </div>
    </div>














    <!-- Footer -->
    <!-- Footer -->
    <!-- Footer -->


    <!-- Create your own footer. replace the # with proper links -->
    <div class="clear"></div>
    <div id="footer">
        <span>
            <a href="http://bio.phys.unm.edu/" target="_blank">Kevin Cahill</a>
        </span>|
        <span>
            <a href="http://www.cambridge.org/knowledge/discountpromotion?code=L2PMKC" target="_blank">Book for Sale</a>
        </span>|
        <span>Built with
            <a href="https://github.com/GuokrUnion/html4scientists" target="_blank">HTML4Scientists</a>.</span>

        <!-- This is the back to top button. Don't touch it if you don't know that that means.-->
        <a id="link-top" href="#top">Top</a>
    </div>

    <!--
            <span>Built with
            <a href="https://github.com/emptymalei/html4scientists">HTML4Scientists</a>.</span>
		    -->



    <!-- Delete the following tracking code and add your own. I recommend Google Analytics.  -->
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-47858438-1', 'unm.edu');
        ga('send', 'pageview');
    </script>






    <!-- Don't touch these -->
</body>

</html>
